.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  font-size: 20px;
}
.App-logo img {
  height: 50px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: -1;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ene-container {
  z-index: 1;
  position: fixed;
  top: 75px;
  right: 0;
}
.ene-img {
  max-width: 40vw;
  max-height: 100vh;
  animation: float infinite 3s ease-in-out;
}

.slideTransition-appear {
  opacity: 0;
  transform: translateX(-100px);
}

.slideTransition-appear.slideTransition-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.4s ease-in-out;
}

.slideTransition-leave {
  opacity: 0;
  transform: translateY(-100px);
}

.slideTransition-leave.slideTransition-leave-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease-in-out;
}
